.SearchBoxWrapper {
  width: 700px;
  margin: 20px auto 40px auto;
  font-size: 16px;
  font-size: calc(16 * 1px);
  font-weight: normal;
  line-height: 1em;
  @media (max-width: 700px) {
    width: 90%;
    margin: 40px 0 10px 0;
    display: none;
  }
}
.AutocompleteWrapper {
  display: none;
  @media (max-width: 700px) {
    display: block;
    margin-top: 40px;
  }
}

.Search {
  width: 655px;
  height: 45px;
  padding-left:45px;
  line-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  @media (max-width: 700px) {
    width: 80%;
  }
}

.Search::placeholder {
  color: grey;
}

.SearchIcon {
  position: absolute;
  margin-top: -35px;
  margin-left: 15px;
  color: grey;
}
.SearchIcon svg {
  height: 20px;
  width: 20px;
}

.ResultWrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 999;
  background-color: white;
  border: 1px solid #d8d8d8;
  width: 705px;
  max-height: 400px;
  overflow: auto;
  @media (max-width: 700px) {
    width: 83%;
    max-height: 300px;
  }
}

.ResultWrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ResultWrapper li {
  padding: 10px 15px;
}

.ResultWrapper li:hover {
  background-color: #ddd;
  cursor: pointer;
}

.ResultWrapper .content {
  margin-left: 20px;
}

.ResultWrapper .content em {
  font-weight: bold;
  font-style: normal;
}

.ResultWrapper .title {
  font-size: 16px;
  margin: 0;
}
.ResultWrapper .desc {
  margin: 0;
  padding-top: 5px;
  font-size: 14px;
  color: grey;
}
