@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
}

.title {
  composes: responsiveTitle1 from "./typography.module.css";
  color: black !important;
}

.mainImage {
  display: block;
  position: relative;
  background: var(--color-very-light-gray);
  /* padding-bottom: calc(9 / 16 * 100%); */
  background-image: url("https://wp.evanoneil.net/one_breath/img/coastal_breeze.jpg");
  height: 50vh;
  padding: 0;

  @nest & img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
    mix-blend-mode: screen;
  }
}

.grid {
  @media (--media-min-medium) {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2em;
    grid-template-columns: 1fr 3fr 1fr;
  }
}

.mainContent {
  @nest & a {
    color: var(--color-accent);

    @media (hover: hover) {
      @nest &:hover {
        color: inherit;
      }
    }
  }

  @nest & h2, & h3, & h4, & h5, & h6 {
    font-weight: 600;
  }

  @nest & figure {
    margin: 0;
    padding: 0;

    @nest & img {
      max-width: 100%;
    }
  }
}

.metaContent {
}

.publishedAt {
  composes: small from "./typography.module.css";
  margin: 2rem 0 3rem;
  color: black;
  font-weight: 500;
}

.categories {
  border-top: 1px solid var(--color-very-light-gray);
  margin: 2rem 0 3rem;

  @nest & ul {
    list-style: none;
    margin: 0.75rem 0;
    padding: 0;
  }

  @nest & ul li {
    padding: 0.25rem 0;
  }
}

.categoriesHeadline {
  composes: base from "./typography.module.css";
  margin: 0.5rem 0 0;
  color: white;
}

/*—- DIVI TIMELINE / DOTS LIST —-*/
.dotslist {
  width: 100%;
}
.dotslist ol {
  position: relative;
  margin-bottom: 20px;
  list-style: none !important;
}
.dotslist ol li {
  position: relative;
  margin-top: 1em;
  margin-bottom: 22px;
}
.dotslist ol li .date {
  position: absolute;
  left: -115px;
  font-weight: bold;
  font-size: 1em;
  top: -2px;
}
.dotslist ol li:before {
  content: "";
  background: #35a6cb; /*Sửa màu*/
  position: absolute;
  width: 2px;
  top: 5px;
  bottom: -25px;
  left: -24px;
}
.dotslist ol li:after {
  content: "";
  background: white; /*edit circle colour*/
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  border: 2.5px solid #35a6cb; /*edit circle border colour*/
  top: 5px;
  left: -31px;
}
.dotslist ol li:last-child:before {
  content: "";
  background: rgba(0, 0, 0, 0);
}

.example {
  position: absolute;
  /* bottom: 25%; */
  margin-left: 3rem;
  top: 10%;
  z-index: 1;
  padding: 5px;
}

.displaygrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3em;
}

ol {
  margin-block-start: 0;
  font-size: 1.25rem;
  margin-left: -1rem;
}

.caption {
  font-family: "GT-America-Mono";
  font-size: 0.8rem;
  color: lightslategrey;
  margin-bottom: 4rem;
  z-index: 999;
  text-align: center;
  margin-top: -1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.pill {
  border-radius: 2em;
  border: none;
  padding: 1em;
  background-color: #29a1de;
  text-transform: capitalize;
  text-align: center;
  color: white !important;
  font-weight: 700;
  composes: small from "./typography.module.css";
  margin: 2rem 1rem 0rem 0rem;
}

.takeaction {
  background: lavender;
  padding: 2rem 7rem;
  border-radius: 150px 0 150px 150px;
  margin-top: 3rem;
}

@media screen and (max-width: 60em) {
  .takeaction {
    padding: 1rem 2rem;
    border-radius: 50px 0 150px 50px;
  }
}
