@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

@import "../layouts/custom.css";

@font-face {
  font-family: GT-America-Bold;
  src: url("../assets/type/GT-America-Standard-Bold.eot");
  src: url("../assets/type/GT-America-Standard-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/type/GT-America-Standard-Bold.woff2") format("woff2"),
    url("../assets/type/GT-America-Standard-Bold.woff") format("woff"),
    url("../assets/type/GT-America-Standard-Bold.ttf") format("truetype");
}

@font-face {
  font-family: GT-America-Regular;
  src: url("../assets/type/GT-America-Standard-Regular.eot");
  src: url("../assets/type/GT-America-Standard-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/type/GT-America-Standard-Regular.woff2") format("woff2"),
    url("../assets/type/GT-America-Standard-Regular.woff") format("woff"),
    url("../assets/type/GT-America-Standard-Regular.ttf") format("truetype");
}

@font-face {
  font-family: GT-America-Mono;
  src: url("../assets/type/GT-America-Mono-Regular.eot");
  src: url("../assets/type/GT-America-Mono-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/type/GT-America-Mono-Regular.woff2") format("woff2"),
    url("../assets/type/GT-America-Mono-Regular.woff") format("woff"),
    url("../assets/type/GT-America-Mono-Regular.ttf") format("truetype");
}

.content {
  background: var(--color-white);
  min-height: calc(100% - 73px - 120px);

  @media (--media-min-small) {
    min-height: calc(100% - 91px - 155px);
  }
}

.footer {
  @nest & a {
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }
}

.footerWrapper {
  box-sizing: border-box;
  max-width: 100%;
  background: #ffebcd;
  border-radius: 200px 0 0 0;

  padding: 4.5em 1.5em 3.5em;
  margin: 0 auto;

  @media (--media-min-small) {
    padding: 6em 2em 5em 2em;
  }
}

.companyAddress {
  text-align: center;
  margin: 0 0 1rem;
}

.siteInfo {
  text-align: center;
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
}

/* footer animation */

.textline {
  font-size: 6em;
}

@media screen and (min-width: 60em) {
  .textline {
    font-size: 10em;
  }
}

.textcopy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 30%;
  stroke-width: 2px;
  -webkit-animation: stroke-offset 20s infinite linear;
  animation: stroke-offset 20s infinite linear;
}
.textcopy:nth-child(1) {
  stroke: dodgerblue;
  stroke-dashoffset: 7%;
}
.textcopy:nth-child(2) {
  stroke: white;
  stroke-dashoffset: 14%;
}
.textcopy:nth-child(3) {
  stroke: #e7d84b;
  stroke-dashoffset: 21%;
}
.textcopy:nth-child(4) {
  stroke: white;
  stroke-dashoffset: 28%;
}
.textcopy:nth-child(5) {
  stroke: #white;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 85%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

/* underline effect */

/* begin underline effect */
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fcd135;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover {
  color: #fcd135;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a {
  position: relative;
  color: #000;
  text-decoration: none;
}

/* end underline effect */

.pill {
  border-radius: 2em;
  border: none;
  padding: 1em;
  background-color: #29a1de;
  font-size: 0.5rem;
  text-transform: capitalize;
  text-align: center;
  color: white;
  font-weight: 700;
  /* margin-bottom:5rem; */
}

.button {
  border-radius: 2em;
  border: 1px solid;
  padding: 1em;
  /* margin-top:5rem; */
}

.vh-35 {
  height: 35vh;
}

blockquote {
  width: 80%;
  font-size: 1.5rem;
  padding-bottom: 0.85rem;
  border-bottom: 4px #29a1de solid;
  background: linear-gradient(180deg, white 98%, #29a1de);
}

h1,
h2,
h3 {
  font-family: "GT-America-Bold";
  letter-spacing: -0.25px;
}

p {
  font-family: "GT-America-Regular";
}

h4 {
  font-family: "GT-America-Mono";
  letter-spacing: -0.5px;
}
