/* .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 3; }
    .div2 { grid-area: 1 / 3 / 3 / 4; }
    .div3 { grid-area: 1 / 4 / 3 / 5; } 

    @media screen and (max-width: 720px) {
      .parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .div1 { grid-area: 1 / 1 / 1 / 5; }
    .div2 { grid-area: 2 / 2 / 2 / 2; }
    .div3 { grid-area: 3 / 3 / 3 / 3; } 

    } */




    .blobpurple {
      z-index:0;
        position:absolute;
top:0rem;
left:60%;
width:15rem;
height:15rem;
background:red;
border-radius:999px;
mix-blend-mode: multiply;
opacity:.4;
filter: blur(40px);
  -webkit-filter: blur(40px);

  animation-name: blob;
  animation-duration:14s;
  animation-iteration-count:infinite;
animation-timing-function:ease-in-out;
    }

    .blobblue {
      z-index:0;
        position:absolute;
top:0rem;
left:60%;
width:15rem;
height:15rem;
background:dodgerblue;
border-radius:999px;
mix-blend-mode: multiply;
opacity:.4;
filter: blur(40px);
  -webkit-filter: blur(40px);

  animation-name: blob;
  animation-duration:14s;
  animation-iteration-count:infinite;
animation-timing-function:ease-in-out;
    }

    .blobyellow{
      z-index:0;
        position:absolute;
top:0rem;
left:40%;
width:15rem;
height:15rem;
background:#ffd12b;
border-radius:999px;
mix-blend-mode: multiply;
opacity:.7;
filter: blur(40px);
  -webkit-filter: blur(40px);

  animation-name: blob;
  animation-duration:13s;
  animation-iteration-count:infinite;
animation-timing-function:ease-in-out;
    }

    .blobyellowside{
      z-index:0;
        position:absolute;
top:9rem;
right:10%;
width:17.5rem;
height:12.5rem;
background:#ffd12b;
border-radius:999px;
mix-blend-mode: multiply;
opacity:.7;
filter: blur(40px);
  -webkit-filter: blur(40px);

  animation-name: blob;
  animation-duration:13s;
  animation-iteration-count:infinite;
animation-timing-function:ease-in-out;
    }

    

    .blobpink{
      z-index:0;
        position:absolute;
        top:0rem;
        left:25%;
width:15rem;
height:15rem;
background:pink;
border-radius:999px;
mix-blend-mode: multiply;
opacity:.9;
filter: blur(40px);
  -webkit-filter: blur(40px);

  animation-name: blob;
animation-duration:12s;
animation-iteration-count:infinite;
animation-timing-function:ease-in-out;
    }

    .blobgreen{
      z-index:0;
        position:absolute;
        top:0rem;
        left:25%;
width:15rem;
height:15rem;
background:#77cfcd;
border-radius:999px;
mix-blend-mode: multiply;
opacity:.9;
filter: blur(40px);
  -webkit-filter: blur(40px);

  animation-name: blob;
animation-duration:12s;
animation-iteration-count:infinite;
animation-timing-function:ease-in-out;
    }
    .center {
      text-align:center;
    }
    .explore {
        display: block;
        overflow-x: -moz-hidden-unscrollable;
        color:black;
width:100%;
position:relative;
padding:3rem;
margin-top:6rem;
margin-bottom:6rem;
/* background: rgba(0,0,0,.05); */
border-radius:35px;
    }

    @keyframes blob {
        0% { transform: translate(0px, 0px); transform: scale(1.25); }
        30% { transform: translate(30px, -150px); transform: scale(2); }
        68%, 72% { transform: translate(-10px, 10px); transform: scale(2.5);}
        100% { transform: translate(0px, 0px); transform: scale(1.25); }
      }
      
    